* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #DFDEDC;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #21409a;
}

a:hover, a:active {
    outline: 0;
}

.wrapper {
    width: 960px;
    margin: auto;
}

header {
    height: 120px;
    width: 960px;
    float: left;
    background: #F3F2F0;
    margin-bottom: 12px;
}

nav {
    width: 960px;
    height: 42px;
    float: left;
    display: inline-flex;
    background: linear-gradient(135deg, #11aa3d 50%, #75b72e 100%);
    margin-bottom: 12px;
}

.navigation-menu {
    flex: 1;
    display: inline-flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.search-box {
    display: flex;
    margin-right: 20px;
}

nav ul li{
    float: left;
}

nav ul li > a{
    color: #fff;
    display: block;
    text-align: center;
    padding: 11px 20px;
    font-weight: 500;
    transition: 0.5s;
}

nav ul li:hover:not(.active) > a{
    color: #fcc43f;
}

nav ul .active > a{
    color: #fcc43f;
}

.dropdown-menu ul {
    display: none;
    background: #11AA3D;
}

.dropdown-menu:hover ul {
    display: block;
    position: absolute;
}

.dropdown-menu ul li {
    float: none;
}

article {
    float: left;
    width: 620px;
    height: 400px;
    padding: 10px;
    background: #fff;
}

aside {
    width: 308px;
    float: right;
    background: #fff;
}

.aside-header {
    background: linear-gradient(135deg, #11aa3d 50%, #75b72e 80%);
    margin-top: 30px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 12px;
}

.aside-content {
    padding: 16px;
    display: flex;
    cursor: pointer;
}

.aside-content:hover a{
    color: #21409a;
}

.content-img {
    margin: 0;
    padding: 0;
    margin-right: 8px;
}

.ratiobox {
    width: 64px;
    position: relative;
    display: block;
    border-radius: 4px;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
}

.lqd {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.content-text a {
    transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

.text-title {
    height: 40px;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.text-time {
    font-size: 12px;
}

footer {
    width: 960px;
    float: left;
    margin-top: 15px;
    background: #cdd;
}

footer .col {
    width: 300px;
    float: left;
    padding: 10px;
}
